	*, *::after, *::before {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.page {
		margin: 0 auto;
		max-width: 1440px;
		min-height: 100vh;
		background: var(--champagne);
		border: 1px solid black;
	}

