:root {
	--champagne: #fbfbf5;
	--white: #ffffff;
	--violet-blue: #32455f;
	--beige-gray: #5f6551;
	--black-gray: #1f262f;
	--lavender: #e1e9ef;
	--liver: #564b67;
	--seroburomaline: #745a82;
	--pale-purple-blue: #80788c;
	--border: 3px solid var(--white);
	--border-blue: 3px solid var(--violet-blue);
	--border-liver: 3px solid var(--liver);
}