.header {
	padding: 69px 73px 50px 110px;
}
.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}
/* .header__logo {
	width: 211px;
	height: 41px;
} */
.header__logo-link {
	margin-right: 71px;
}
.nav__list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	gap: 15px;
	list-style-type: none;
}
.nav {
	margin-right: 50px;
}
.nav__item_home-space {
	margin-right: 51px;
}
.nav__link {
	font-family: 'Nunito', sans-serif;
	font-size: 21px;
	line-height: 39px;
	font-weight: 300;
	text-decoration: none;
	color: var(--violet-blue);
}
.nav__link-active {
	font-family: 'Nunito', sans-serif;
	font-size: 21px;
	line-height: 39px;
	font-weight: 700;
	text-underline-offset: 8px;
	color: var(--violet-blue);
}
.nav__item_class-space {
	margin-right: 59px;
}
.nav__item_tours-space {
	margin-right: 80px;
}
.nav__item_maps-space {
	margin-right: 97px;
}

.header__wrap {
	position: relative;
}
.btn {
	width: 189px;
	height: 33px;
	border: none;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background-color: var(--white);
	box-shadow: inset 0px 5px 5px 0px rgba(2,4,0,0.2);
}
.header__search {
	position: absolute;
	top: -2px;
	right: 57px;
	display: block;
	width: 24px;
	height: 24px;
}
.header__loop {
	fill: var(--black-gray);
}
.header__burger {
	position: relative;
	width: 45px;
	height: 2px;
	background-color: var(--violet-blue);
}
.header__burger::before {
	position: absolute;
	content: '';
	right: 0px;
	top: -10px;
	width: 45px;
	height: 2px;
	background-color: var(--violet-blue);
}
.header__burger::after {
	position: absolute;
	content: '';
	right: 0px;
	bottom: -10px;
	width: 45px;
	height: 2px;
	background-color: var(--violet-blue);
}
