/*------ header ------------------------ */
.header {
	padding: 69px 73px 50px 110px;
}
.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px;
}
.header__logo {
	margin-right: 71px;
	width: 211px;
	height: 41px;
}
.nav {
	margin-right: 45px;
}
.nav__list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	list-style-type: none;
}
.nav__link:hover {
	font-weight: 700;
	transition: 1s;
} 
.nav__item_home-space {
	margin-right: 46px;
}
.nav__link {
	font-family: 'Nunito', sans-serif;
	font-size: 21px;
	line-height: 39px;
	font-weight: 300;
	text-decoration: none;
	color: var(--violet-blue);
}
.nav__link-active {
	font-family: 'Nunito', sans-serif;
	font-size: 21px;
	line-height: 39px;
	font-weight: 700;
	text-underline-offset: 8px;
	color: var(--violet-blue);
}
.nav__item_class-space {
	margin-right: 54px;
}
.nav__item_tours-space {
	margin-right: 75px;
}
.nav__item_maps-space {
	margin-right: 92px;
}

.header__wrap {
	position: relative;
	margin-right: 38px;
}
.header__wrap:hover .header__search {
	animation: eight 1.5s linear infinite both;
	transition: 1s;
}
.btn {
	width: 189px;
	height: 33px;
	border: none;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background-color: var(--white);
	box-shadow: inset 0px 5px 5px 0px rgba(2,4,0,0.2);
}
.btn:hover {
	cursor: pointer;
}
.header__search {
	position: absolute;
	top: -2px;
	right: 18px;
	display: block;
	width: 24px;
	height: 24px;
}
.header__loop {
	fill: var(--black-gray);
}
.header__burger {
	position: relative;
	width: 45px;
	height: 2px;
	background-color: var(--violet-blue);
}
.header__burger::before {
	position: absolute;
	content: '';
	right: 0px;
	top: -10px;
	width: 45px;
	height: 2px;
	background-color: var(--violet-blue);
}
.header__burger::after {
	position: absolute;
	content: '';
	right: 0px;
	bottom: -10px;
	width: 45px;
	height: 2px;
	background-color: var(--violet-blue);
}

/*------ main ------------------------ */

/*------ hike ------------------------ */
.hike {
	padding: 22px 0px 0px 101px;
	min-height: 485px;
	background: url('../images/satisfied-person.jpg') center / 1440px 835px no-repeat;
}
.hike__title {
	margin-bottom: 32px;
	max-width: 346px;
	font-family: 'BebasNeue', sans-serif;
	font-size: 75px;
	line-height: 58px;
	font-weight: 400;
	text-transform: uppercase;
	color: var(--violet-blue);
}
.hike__subtitle {
	position: relative;
	max-width: 290px;
	font-family: 'BebasNeue', sans-serif;
	font-size: 37.5px;
	line-height: 45px;
	text-transform: uppercase;
	font-weight: 400;
	color: var(--violet-blue);
	letter-spacing: 0.075em;
}
.hike__subtitle::after {
	position: absolute;
	content: '';
	bottom: -15px;
	left: -17px;
	display: block;
	width: 35px;
	height: 36px;
	border-left: 2px solid var(--violet-blue);
	border-bottom: 2px solid var(--violet-blue);
}
/*------ excursions -------------------- */
.excursions {
	padding: 79px 115px 86px 48px; 
}
.excursions__info {
	position: relative;
	margin-left: 50px;
}
.excursions__title {
	margin-bottom: 36px;
	max-width: 490px;
	font-family: 'BebasNeue', sans-serif;
	font-size: 58.4px;
	line-height: 58px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.075em;
	color: var(--violet-blue);
}
.excursions__title::before {
	position: absolute;
	content: '';
	top: 4px;
	right: -74px;
	display: block;
	width: 23px;
	height: 23px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="4" y1="0" x2="19" y2="23" stroke="rgb(50, 69, 95)" stroke-width="5" stroke-linecap="square" /><line x1="19" y1="0" x2="4" y2="23" stroke="rgb(50, 69, 95)" stroke-width="5" stroke-linecap="square" /></svg>');
}
.excursions__title::after {
	position: absolute;
	content: '';
	bottom: 2px;
	right: -74px;
	display: block;
	width: 23px;
	height: 23px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="4" y1="0" x2="19" y2="23" stroke="rgb(50, 69, 95)" stroke-width="5" stroke-linecap="square" /><line x1="19" y1="0" x2="4" y2="23" stroke="rgb(50, 69, 95)" stroke-width="5" stroke-linecap="square" /></svg>');
}
.excursions__title::after line {
	stroke: var(--white);
}
.excursions__line {
	position: absolute;
	left: -5px;
	display: block;
	width: 95px;
	height: 9px;
	background-color: var(--violet-blue);
}
.excursions__info-days {
	display: flex;
	flex-wrap: wrap;
	gap: 47px;
}
.day1 {
	padding: 47px 28px 49px 49px;
	max-width: 615px;
	width: 100%;
}
.day1__wrap {
	margin-bottom: 37px;
	display: flex;
	align-items: flex-end;
	gap: 58px;
}
.day1__info {
	max-width: 322px;
}
.day1__title {
	font-family: 'BebasNeue',sans-serif;
	font-size: 41.7px;
	line-height: 41px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.075em;
	color: var(--violet-blue);
}
.day1__list {
	list-style-type: none;
}
.day1__item {
	font-family: 'Raleway', sans-serif;
	font-size: 20.9px;
	line-height: 41px;
	font-weight:700;
	letter-spacing: 0.075em;
	color: var(--violet-blue);
}
.day1__pic {
	width: 137px;
	height: 137px;
	border-radius: 50%;
	background-color: var(--violet-blue);
}
.day1__image {
	display: block;
	margin: 30px auto;
	width: 92px;
	height: 77px;
	fill: var(--white);
}
.day1__line {
	display: block;
	margin-bottom: 42px;
	width: 100%;
	height: 2px;
	background-color: var(--violet-blue);
}
.day1__date {
	margin-bottom: 17px;
}
.day1__title_consectetur {
	font-family: 'BebasNeue', sans-serif;
	font-size: 37.5px;
	line-height: 41px;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: var(--violet-blue);
}
.day1__data {
	display: block;
	margin-bottom: 24px;
	font-family: 'BebasNeue', sans-serif;
	font-size: 37.5px;
	line-height: 41px;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: var(--violet-blue);
}
.day1__time {
	font-family: 'BebasNeue', sans-serif;
	font-size: 25px;
	line-height: 41px;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: var(--violet-blue);
}
.rating {
	display: flex;
	gap: 17px;
}
.rating__list {
	display: inline-flex;
	align-items: center;
	gap: 7px;
}
.raying__item {
	display: block;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	border: 1px solid var(--violet-blue);
}
.raying__item_color {
	background-color: var(--violet-blue);
}
.rating__ball {
	font-family: 'Raleway', sans-serif;
	font-size: 20.9px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--violet-blue);
}